src/main/mule/caas-demo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:rest="http://www.mulesoft.org/schema/mule/rest" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:caas="http://www.mulesoft.org/schema/mule/caas"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/caas http://www.mulesoft.org/schema/mule/caas/current/mule-caas.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/rest http://www.mulesoft.org/schema/mule/rest/current/mule-rest.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f3fd7781-4738-41c9-baf1-d01e0dca9fb4" >
		<http:listener-connection host="0.0.0.0" port="8086" />
	</http:listener-config>
	<caas:config name="CAAS_Config" protocol="HTTPS" doc:name="CAAS Config" doc:id="063432c3-35ee-4b74-b393-0c1ef7fbd3c2" host="${caas.host}" basepath="${caas.path}" />
	<flow name="caas-demo2Flow" doc:id="753cf4d3-22c6-4c3d-b0c6-a1cee28ba580" >
		<http:listener doc:name="Listener" doc:id="6a4e6c07-04f6-4d7d-8524-b6051f355462" config-ref="HTTP_Listener_config" path="/get2"/>
		<logger level="INFO" doc:name="Logger" doc:id="9d7609de-47b7-4065-be6d-fa5ec09fc67e" message="#[payload]"/>
		<ee:transform doc:name="incoming request" doc:id="e0a22578-4a77-4945-8a18-47c182bf69da">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="host"><![CDATA[//attributes.queryParams.host
{}
]]></ee:set-variable>
				<ee:set-variable variableName="environment_name"><![CDATA[attributes.queryParams.environment_name]]></ee:set-variable>
				<ee:set-variable variableName="application_name"><![CDATA[attributes.queryParams.application_name]]></ee:set-variable>
				<ee:set-variable variableName="path"><![CDATA[//attributes.queryParams.path
{}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<caas:get-config doc:name="Get config" doc:id="4e5a14a7-ed2b-4074-a2bd-fa397bbf23df" config-ref="CAAS_Config" appname="#[attributes.queryParams.application_name]" env="#[attributes.queryParams.environment_name]"/>
		<ee:transform doc:name="Transform Message" doc:id="bd756976-fbe0-4153-887c-d05b28bca3a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
--- 
read(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="17753989-14d6-47cf-82aa-ed5258f6979f" message="#[payload]"/>
	</flow>
	<flow name="caas-demo2Flow1" doc:id="1584e9bc-04be-4f58-9392-01154722d0df" >
		<http:listener doc:name="Listener" doc:id="e26699d8-b3b7-4e11-8d39-4652533741ae" config-ref="HTTP_Listener_config" path="/post2" outputMimeType="text/plain"/>
		<caas:post-config doc:name="Post config" doc:id="8d400260-e546-40e4-8940-f64558a743fb" config-ref="CAAS_Config" outputMimeType="text/plain" appname="#[attributes.queryParams.application_name]" env="#[attributes.queryParams.environment_name]" appvalue="#[payload]"/>
		<logger level="INFO" doc:name="Log payload" doc:id="4c66c540-020d-4afe-ab5d-ec19886a750a" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="7fecf64a-a497-427b-a448-4bcc551655d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log payload1" doc:id="9c26bc90-f63f-4af3-ad57-5769c8988205" message="#[payload]" />
	</flow>
</mule>
